h2 {
    margin: 20px 0 20px 0;
  }
  span {
    font-weight: bold;
    font-size: 14px;
    color: black;
  }
  
  .title-container,
  .edit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: auto;
  }
  button.redirect {
    height: max-content;
    background-color: #1976d2;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  button.edit {
    margin-left: auto;
    height: max-content;
    background-color: #ffc107;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
  }
  .employee-container {
    padding: 10px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.4);
  }
  