<div class="title-container col-8">
  <h2>Listado de juegos:</h2>
  <button routerLink="/games/crear"> Ir a crear juego</button>
</div>

<div class="employee-container card col-8" style="margin: auto;">
  <ul class="list-group" *ngIf="gameArray.length >= 1 else NoGames">
    <li appHighLigth style="cursor: pointer;" *ngFor="let game of gameArray"
      class="list-group-item list-group-item-action">
      <div [routerLink]="[game.id]">
        <span class="id">{{game.id}}</span>
        <span style="margin-left: 5px;">
          {{game.nombre}} {{game.tipo}} - {{game.genero}} - {{game.requisitosPC[0].valor}}
        </span>
      </div>

    </li>
  </ul>
</div>

<ng-template #NoGames>
  <span class="badge badge-primary">Aún no hay juegos</span>
</ng-template>